header {
  background-color: #fffbe6;
  color: #f88e35;
  margin-bottom: 2rem;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 3rem;
    span {
      font-size: 1.5rem;
      display: block;
      color: #a3a5a8;
    }
  }

  .header__sub {
    background-color: #f88e35;
    padding: 0 2rem;
    margin-top: 1rem;

    &--container {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      justify-content: space-around;

    }

    a {
      color: #fffbe6;
      text-decoration: none;
      &:hover {
        color: #6e7071;
        text-decoration: underline;
      }
    }
  }

}

.homeImage {
  float: left;
  margin-right: 2rem;
}
