header {
  background-color: #fffbe6;
  color: #f88e35;
  margin-bottom: 2rem;
  text-align: center;

  h1 {
    margin: 0;
    span {
      display: block;
      color: #a3a5a8;
    }
  }

  div {
    padding: 1.5rem 1rem;
  }

}
