footer {
  color: #f0daa7;
  background-color: #f88e35;

  span {
    display: block;
  }

  h4 {
    font-size: 1.5rem;

    span {
      font-size: 1rem;
    }
  }

  a {
    color: #f0daa7;
    text-decoration: none;

    &:hover {
      color: #6e7071;
      text-decoration: underline;
    }
  }

  .footer__container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
  }

  .footer__logo {
    margin-left: auto;
    background-color: #fffbe6;
    padding: 1.5rem;
    border-radius: 5%;
  }

}
